.item {
  background-color: orange;
  display: flex;
  margin: 20px auto;
  padding: 10px;
}
.content {
  flex: auto;
  text-align: center;
  font-weight: bold;
}
.desc {
  color: rgb(75, 75, 75);
}
.time {
  color: red;
}
