.date {
  width: 90px;
  background-color: #dfdfdf;
  border-radius: 20px;
  font-weight: bold;
  overflow: hidden;
  text-align: center;
}
.month {
  height: 30px;
  color: white;
  line-height: 30px;
  font-size: large;
  background-color: red;
}
.day {
  height: 60px;
  line-height: 60px;
  font-size: 40px;
}
